//通用主题字体颜色
$themeColor: #fcc600;
$color33: #333;
$color66: #666;
$color99: #999;
// 通用字体大小
$size12: 12px;
$size14: 14px;
$size16: 16px;
// tab栏|按钮高度
$height:32px;
// hover 颜色
$hoverColor:rgba(255, 224, 107, 1);
// table表头背景色
$t-header-bg:#f2f2f2;
// table tr hover背景色
$tr-hover-bg:rgba(255,198,0,0.1);
// disable颜色
$disable-color:#DCDCDC;
