<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yunda.base.feiniao.warning.dao.WarningBranchMobileDao">

	<select id="get" resultType="com.yunda.base.feiniao.warning.domain.WarningBranchMobileDO">
		select `orgid`,`user_name`,`branch_code`,`branch_name`,`mobile`,`update_time`,`status` from crmkhv2_warning_branch_mobile where orgid = #{value}
	</select>

	<select id="list" resultType="com.yunda.base.feiniao.warning.domain.WarningBranchMobileDO">
		select `orgid`,`user_name`,`branch_code`,`branch_name`,`mobile`,`update_time`,`status` from crmkhv2_warning_branch_mobile
        <where>  
		  		  <if test="orgid != null and orgid != ''"> and orgid = #{orgid} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="branchCode != null and branchCode != ''"> and branch_code = #{branchCode} </if>
		  		  <if test="branchName != null and branchName != ''"> and branch_name = #{branchName} </if>
		  		  <if test="mobile != null and mobile != ''"> and mobile = #{mobile} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by #{sort}, #{order}
            </when>
			<otherwise>
                order by orgid desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from crmkhv2_warning_branch_mobile
		 <where>  
		  		  <if test="orgid != null and orgid != ''"> and orgid = #{orgid} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="branchCode != null and branchCode != ''"> and branch_code = #{branchCode} </if>
		  		  <if test="branchName != null and branchName != ''"> and branch_name = #{branchName} </if>
		  		  <if test="mobile != null and mobile != ''"> and mobile = #{mobile} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.yunda.base.feiniao.warning.domain.WarningBranchMobileDO">
		insert into crmkhv2_warning_branch_mobile
		(
			`orgid`, 
			`user_name`, 
			`branch_code`, 
			`branch_name`, 
			`mobile`, 
			`update_time`, 
			`status`
		)
		values
		(
			#{orgid}, 
			#{userName}, 
			#{branchCode}, 
			#{branchName}, 
			#{mobile}, 
			#{updateTime}, 
			#{status}
		)
	</insert>
	 
	<update id="update" parameterType="com.yunda.base.feiniao.warning.domain.WarningBranchMobileDO">
		update crmkhv2_warning_branch_mobile 
		<set>
			<if test="userName != null">`user_name` = #{userName}, </if>
			<if test="branchCode != null">`branch_code` = #{branchCode}, </if>
			<if test="branchName != null">`branch_name` = #{branchName}, </if>
			<if test="mobile != null">`mobile` = #{mobile}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where orgid = #{orgid}
	</update>
	
	<delete id="remove">
		delete from crmkhv2_warning_branch_mobile where orgid = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from crmkhv2_warning_branch_mobile where orgid in 
		<foreach item="orgid" collection="array" open="(" separator="," close=")">
			#{orgid}
		</foreach>
	</delete>

</mapper>