<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<head>
    <style>
        .form-control {
            display: inline-block;
            width: 66%;
        }
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">机构编码：</label>
                            <div class="col-sm-8">
                                <input required id="organizationNum" name="organizationNum" class="form-control" type="text" maxlength="8" oninput="value=value.replace(/[^\d]/g,'')">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">机构名称：</label>
                            <div class="col-sm-8">
                                <input required id="organizationName" name="organizationName" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">机构等级：</label>
                            <div class="col-sm-8">
                                <select required id="organizationLevel" name="organizationLevel" class="form-control">
                                    <option value="">请选择</option>
                                    <option value="客服">客服</option>
                                    <option value="总部">总部</option>
                                </select>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <label class="col-sm-3 control-label">状态：</label>
                            <div class="col-sm-8">
                                <input id="state" name="state" class="form-control" type="text">
                            </div>
                        </div>-->
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" style="width: 20%" class="btn btn-primary">确认</button>
                                <button type="button" style="width: 20%;margin-left: 20%" class="btn btn-primary" onclick="quitAudit()">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" th:src="@{/js/bigcustomer/organizationManage/add.js}">
</script>
</body>
</html>
