<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/css/layui.css}" rel="stylesheet">
<link th:href="@{/js/lay/laydate/theme/default/laydate.css}" rel="stylesheet">
<!-- <link th:href="@{/js/plugins/magicsuggest/magicsuggest-min.css}" rel="stylesheet"> -->

<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-content">
					<form id="searchExampleData" class="form-horizontal m-t">
						<div class="form-group group-query" id="group_query">
							<div class="query-time group-select" id="group_select">
								<label class="col-sm-2 col-md-2 control-label label-time" id="lable-time">查询时间：</label>
							    <div class="col-sm-2" >
								     <select id = "searchType" name="searchType" class="form-control">
								     	  <option value="0">请选择</option>
								     	  <option value="1">日报</option>
								          <option value="2">周报</option>
								          <option value="3">月报</option>
								     </select>
							    </div>
							</div>
							<div class="group-time" id="group_time" style="display:none;">
									<div class=" time-bucket" id="time_bucket">
										 <div class="col-sm-2">
											<input id="searchStartDate" name="searchStartDate" class="form-control" type="text"  placeholder="开始时间">
										</div>
										<div style="float:left;margin-top: 6px;">—</div>
										<div class="col-sm-2">
											<input id="searchEndDate" name="searchEndDate" class="form-control" type="text" placeholder="结束时间">
										</div>
									</div>
							</div>
							<div class="group-date col-sm-3 col-md-2 col-sm-offset-1 col-md-offset-1" id="group_month" style="display:none;">
									<input type="text" class="form-control" id="searchMonth" name="searchMonth"  placeholder="月">
							</div>
						</div>
						<div class="layui-form-item"> 	
							<div class="group-btn" id="groop_btn">
								<div class="col-sm-1 col-md-1 col-sm-offset-1 col-md-offset-8">
									<input type="button" value="查询" onclick="query()" class="btn btn-warning">
								</div>
								<div class="col-sm-1 col-md-1">
									<input type="button" value="重置" onclick="resetForm()" class="btn btn-success">
								</div>
								<button shiro:hasPermission="market:marketOccupancyTaoxi:exportExcel" type="button" class="btn btn-warning" id="exportExcelbtn" onclick="exportExcel('/exportExcel')">
									<i class="fa fa-anchor" aria-hidden="true"></i>导出Excel
								</button>
							</div>	
						</div>
					</form>
				</div>
			</div>
			
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="market:marketOccupancyTaoxi:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="market:marketOccupancyTaoxi:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
							<button shiro:hasPermission="market:marketOccupancyTaoxi:importExcel" type="button" class="btn btn-info" id="uploadbtn" >
                            	<i class="fa fa-file-excel-o"></i>导入Excel
                        	</button>
                        	<button shiro:hasPermission="market:marketOccupancyTaoxi:importExcel" type="button" class="btn btn-success" onclick="exportExcel('/downTemplate')">
                            	<i class="fa fa-file-code-o"></i>下载模版
                        	</button>
							<!-- <button shiro:hasPermission="market:marketOccupancyTaoxi:exportExcel" type="button" class="btn btn-warning" id="exportExcelbtn" onclick="exportExcel('/exportExcel')">
								<i class="fa fa-anchor" aria-hidden="true"></i>导出Excel
							</button>
							<button id="refresh" type="button" class="btn btn-default">
								<i class="fa fa-refresh" aria-hidden="true"></i>刷新
							</button>-->
						</div>
						<!-- <div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="searchName" type="text" class="form-control"
								placeholder="">
						</div> -->
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="market:marketOccupancyTaoxi:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="market:marketOccupancyTaoxi:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="market:marketOccupancyTaoxi:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" th:src="@{/js/appjs/feiniao/market/marketOccupancyTaoxi/marketOccupancyTaoxi.js}"></script>
	<script th:src="@{/js/layui.js}"></script>
	<script th:src="@{/js/lay/laydate/laydate.js}"></script>
	<script th:src="@{/js/plugins/magicsuggest/magicsuggest-min.js}"></script>
</body>
</html>